<div class="card surface-300 m-2 p-2">
  <h2>Product feedback</h2>
  <div class="formgrid grid">
    <div class="field col-4 flex flex-column gap-2">
      <label>Product:</label>
      <p-dropdown
        id="Product"
        [options]="Products"
        [style]="{ width: '100%' }"
        [(ngModel)]="fdb"
        optionLabel="ProductName"
        [filter]="true"
        filterBy="ProductName"
        [showClear]="true"
        placeholder="Select a product"
      >
      </p-dropdown>
    </div>
    <div class="field col-4 flex flex-column gap-2 align-items-center">
      <label>Rating:</label>
      <p-rating
        id="rating"
        [cancel]="false"
        [(ngModel)]="selectedrating"
      ></p-rating>
    </div>
    <div class="field col-4 flex flex-column gap-2">
      <p-button
        styleClass="p-button-success"
        label="Submit Feedback"
        icon="pi pi-check"
        iconPos="right"
        (onClick)="savefdb()"
      ></p-button>
    </div>
  </div>
</div>
